@namespace Layout
@attribute [PiralExtension("CloudLayout.Topbar")]

<div
    class="topbar"
    style="background: red;"
>
    <div class="left">
        <Extension name="CloudLayout.Topbar.Left" />
    </div>
    <div class="right">
        <Extension name="CloudLayout.Topbar.Right" />
    </div>
</div>

@code {

}