@page "/dashboard"

<h1>Dashboard</h1>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum quaerat non libero rem, veniam nam praesentium quas enim placeat saepe perferendis architecto neque voluptatem dolore iste quia nostrum ullam corporis?
</div>