.user-settings {
  .avatar {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 999px;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}
 