@namespace Layout
@attribute [PiralExtension("CloudLayout.Statusbar")]

<div
    class="statusbar"
    style="background: purple;"
>
    <div class="left">
        <Extension name="CloudLayout.Statusbar.Left" />
    </div>
    <div class="right">
        <Extension name="CloudLayout.Statusbar.Right" />
    </div>
</div>

@code {
}